.editNoteOuterContainer {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: auto;
  max-height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  font-family: 'Roboto Slab', serif;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 1;
  background-color: #202124;
  border: 1px solid grey;
  resize: none;
  border-radius: 15px;
  z-index: 10001;
}

.editNoteContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  overflow-y: auto;
}

.editNoteContainer .note-title {
  padding: 15px;
  height: 30px;
  width: 100%;
  color: white;
  font-family: 'Roboto Slab', serif;
  background-color: transparent;
  line-height: 20px;
}

.editNoteContainer .note-content {
  width: 100%;
  color: white;
  text-align: left;
  line-height: 20px;
  font-size: 15px;
  font-family: 'Roboto Slab', serif;
  background-color: transparent;
  margin-top: 10px;
  padding: 0px 15px 0px 15px;
  line-height: 20px;
}

.note-title:focus,
.note-content:focus {
  outline: none;
}

.note-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  margin-top: 40px;
  padding: 15px;
  position: relative;
}

.note-footer .footerIcons {
  display: flex;
  gap: 40px;
}

.footerIcons > * {
  cursor: pointer;
  scale: 1.3;
  color: white;
  opacity: 0.8;
}

.imageContainer {
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.deleteImageIcon {
  position: absolute;
  scale: 1.5;
  bottom: 15px;
  right: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.imageContainer:hover .deleteImageIcon {
  opacity: 1;
}

.editNoteCloseButton {
  font-size: 15px;
  margin-right: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.colorSelector {
  display: none;
  position: absolute;
  top: 40px;
  left: 10px;
  width: auto;
  height: 50px;
  background-color: #202124;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding: 15px;
}

.colorSelector > * {
  scale: 2;
  cursor: pointer;
}

.colorSelector.active {
  display: flex;
  align-items: center;
  gap: 20px;
}

.editNoteMoreOptions {
  width: 170px;
  height: auto;
  background-color: #202124;
  position: absolute;
  top: 40px;
  left: 170px;
  display: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 14px;
  z-index: 10000;
  color: white;
  font-family: 'Roboto Slab', serif;
}

.editNoteMoreOptions.show {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.editNoteMoreOptions div {
  cursor: pointer;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.editNoteMoreOptions div:hover {
  background-color: #313235;
}

.footerIcons > div:hover::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  z-index: -1;
}

.editNoteCloseButton:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 10px;
  transform: translate(-10%, -15%);
  width: 70px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: -1;
  border-radius: 4px;
}
