.newNoteContainer {
  display: flex;
  width: 500px;
  height: fit-content;
  margin-top: 100px;
  margin-left: 100px;
  transition: all 0.1s ease;
  flex-direction: column;
  justify-content: flex-start;
  border: 0.04em solid white;
  border-radius: 2px;
}

.default {
  height: 40px;
  opacity: 0.5;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  line-height: 20px;
  resize: none;
  color: white;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
  border: 1px solid transparent;
  background-color: transparent;
  overflow: hidden;
}

.content:focus,
.title:focus {
  outline: none;
}

.expanded {
  min-height: 100px;
}

.title {
  height: 30px;
  line-height: 20px;
  resize: none;
  color: white;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 1px solid transparent;
  background-color: transparent;
}

.show {
  display: flex;
  justify-content: space-between;
}

.hide {
  display: none;
}

.footerContainer .button {
  color: white;
  font-size: small;
  margin: 5px;
  letter-spacing: 1px;
  font-family: Georgia, 'Times New Roman', Times, seri;
}

.icons {
  margin: 5px;
}

.bulletIcon {
  font-size: medium;
}
