.noteContainer {
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid grey;
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.noteContainer .note-title {
  width: 100%;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 600;
}

.noteContainer .note-content {
  width: 100%;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  user-select: none;
  margin-top: 20px;
  padding-bottom: 20px;
  justify-self: flex-start;
}

.noteContainer .note-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0px;
}

.short {
  grid-row: span 1;
  height: 100px;
}

.tall {
  grid-row: span 2;
  height: 200px;
}

.taller {
  grid-row: span 3;
  height: 300px;
}

.tallest {
  grid-row: span 4;
  height: 400px;
}
