.navBarContainer {
  width: 100%;
  height: 65px;
  background-color: #202124;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  position: fixed;
  z-index: 9999;
}

.burgerMenuIcon > * {
  cursor: pointer;
  scale: 1.5;
}

.burgerMenuIcon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.navBarContainer .leftContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.leftContainer .productName {
  font-size: 22px;
  font-weight: 400;
  font-family: 'Roboto Slab', serif;
  user-select: none;
}

.rightContainer {
  display: flex;
  align-items: center;
  gap: 30px;
}

.rightContainer > * {
  scale: 1.5;
  cursor: pointer;
}

.searchBar {
  width: 40%;
  max-width: 700px;
  height: 100%;
  display: flex;
  gap: 20px;
  background-color: rgba(241, 243, 244, 0.24);
  border-radius: 10px;
  align-items: center;
  padding: 15px;
}

.searchBar.active {
  background-color: white;
}

.searchBar:active {
  background-color: white;
}

.searchIcon {
  scale: 1.7;
  color: white;
}

.searchIcon.active {
  color: #202124;
}
.searchBar .searchInput {
  width: 100%;
  height: 55px;
  cursor: text;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
}

.searchInput::placeholder {
  font-size: 16px;
  color: white;
}

.closeIcon {
  scale: 1.7;
  display: none;
}

.closeIcon.active {
  display: inline;
  cursor: pointer;
  color: #202124;
}

.userProfileDialog {
  width: 200px;
  height: auto;
  padding: 15px;
  background-color: #313235;
  position: absolute;
  top: 65px;
  right: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.userProfileDialog.show {
  display: inline-block;
}

.userProfileDialog .imageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.imageSection .image {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.image .profileIcon {
  width: 100px;
  height: 100px;
}

.image .editIcon {
  padding: 1px;
  position: absolute;
  bottom: 10px;
  right: 50px;
  scale: 1.5;
  z-index: 1000;
  background-color: black;
  border-radius: 15px;
}

.image:hover .editIcon {
  background-color: #313235;
  opacity: 0.9;
}

.imageSection .name {
  font-size: 20px;
}

.userProfileDialog .userProfileOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  width: 100%;
  margin-top: 10px;
}

.signout {
  padding: 10px;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
}

.signout:hover {
  scale: 1.1;
}

.signout .logo {
  scale: 1.5;
}

.signout span {
  font-size: 14px;
}

.settingsDialog {
  width: 170px;
  height: auto;
  background-color: #202124;
  position: absolute;
  top: 55px;
  right: 20px;
  border-radius: 5px;
  display: none;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.settingsDialog.show {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.settingsDialog div {
  cursor: pointer;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.settingsDialog div:hover {
  background-color: #313235;
}

.rightContainer > div:hover::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  z-index: -1;
}

.burgerMenuIcon:hover::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  z-index: -1;
}
