:root {
  --nav-bar-height: 60px;
}

.sideBarContainer {
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 30px;
  gap: 30px;
}

.tab {
  display: flex;
  gap: 30px;
  align-items: center;
}

.tab .tabIcon {
  scale: 1.3;
  color: grey;
}

.tab .tabText {
  font-size: 13px;
  font-weight: 600;
  color: white;
  font-family: 'Roboto Slab', serif;
  width: 0px;
  opacity: 0;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.tabText.active {
  opacity: 1;
  width: auto;
}
