.guestLoginPage {
  width: 100%;
  height: 100vh;
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
}

.loginForm {
  position: relative;
  margin-bottom: 10%;
  padding: 30px;
  height: auto;
  width: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.guestLoginPage .backIcon {
  position: absolute;
  left: 10px;
  top: 10px;
  scale: 1.3;
  cursor: pointer;
}

.backIcon:hover {
  scale: 1.5;
}

.nameLogin {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.nameLogin .nameInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.nameInput input {
  width: 100%;
  height: 40px;
  border: 2px solid grey;
  border-radius: 4px;
  cursor: text;
}

.nameInput span {
  font-size: 11px;
  color: red;
  font-weight: 500;
}

.nameLogin .loginButton {
  width: 100%;
  height: 40px;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
