.guestLoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
}

.guestLoginForm {
  position: relative;
  margin-bottom: 10%;
  padding: 30px;
  height: auto;
  width: 400px;
  background-color: #ad8260;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  border-radius: 5px;
}

.guestLoginPage .backIcon {
  position: absolute;
  left: 10px;
  top: 10px;
  scale: 1.3;
  cursor: pointer;
  color: #fdf0e7;
}

.backIcon:hover {
  scale: 1.5;
}

.nameLogin {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.nameLogin h3 {
  color: #fdf0e7;
  font-size: 19px;
}

.nameLogin .nameInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.nameInput input {
  width: 100%;
  height: 40px;
  border: none;
  border: 2px solid grey;
  cursor: text;
  border-radius: 4px;
}

.nameInput span {
  font-size: 11px;
  color: red;
  font-weight: 500;
}

.nameLogin .loginButton {
  width: 100%;
  height: 40px;
  background-color: #fdf0e7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ad8260;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}
