.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
}

.loginForm {
  margin-bottom: 10%;
  padding: 30px;
  height: auto;
  width: 400px;
  background-color: #ad8260;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border-radius: 5px;
}

.emailLogin {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.emailLogin .inputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputWrapper > span {
  color: black;
  font-size: 11px;
  font-weight: bold;
  padding-left: 5px;
}

.emailLogin h3 {
  color: #fdf0e7;
  font-size: 19px;
}

.emailLogin input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 2px solid grey;
  cursor: text;
}

.emailLogin .passwordInput {
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease-in-out;
}

.emailLogin .passwordInput.show {
  opacity: 1;
  display: inline-block;
}

.emailLogin .continueButton {
  width: 100%;
  height: 40px;
  background-color: #fdf0e7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ad8260;
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}

.emailLogin > span {
  color: black;
  font-weight: bold;
}

.separatorText {
  color: #fdf0e7;
}

.socialSignup {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.socialSignup > div {
  cursor: pointer;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fdf0e7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialSignup > div > span {
  color: #fdf0e7;
}

.googleLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.googleLogin img {
  width: 30px;
  height: 30px;
}

.loginForm .options {
  color: #fdf0e7;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 400;
}

.options span {
  cursor: pointer;
}

.options span:hover {
  text-decoration: underline;
}

.guestAccount {
  color: #fdf0e7;
  font-weight: 400;
  cursor: pointer;
}

.guestAccount:hover {
  text-decoration: underline;
}

.lineBreak {
  width: 100%;
}
